Repository nataliehelm/digital-booking: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-front, build-front, deploy-front, test-back, build-back, deploy-back

.gitlab-ci.yml:

variables:
  FRONTEND_PATH: "frontend/fe-digital-booking/"
  BACKEND_PATH: "backend/be-digital-booking/"

stages:  # List of stages for jobs, and their order of execution
  - test
  - build     
  - deploy
  
cache:
  paths:
    - $FRONTEND_PATH/node_modules/

test-front: # This job runs in the test stage, which runs first.
  stage: test
  image: node:19-alpine3.15
  script:
    - echo "Testing front... (BY PASSED)"
    #- cd $FRONTEND_PATH
    #- npm i
    #- npm test -- --watchAll=false
  rules:
  - changes:
    - frontend/**/*  

build-front: # This job runs in the build stage, which runs second.
  stage: build
  image: node:19-alpine3.15 
  script:
    - cd $FRONTEND_PATH
    - npm i
    - npm run build
  artifacts:
    paths:
      - $FRONTEND_PATH/build/
  rules:
    - changes:
      - frontend/**/*

deploy-front: # This job runs in the deploy stage, which runs third.
  stage: deploy
  image: node:19.0-bullseye
  before_script:
  - apt update
  - apt install curl -y && apt install unzip -y
  - curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
  - unzip -q awscliv2.zip
  - ./aws/install
  - aws configure set region $AWS_DEFAULT_REGION
  - mkdir -p ~/.ssh
  - eval $(ssh-agent -s)
  - echo "$SSH_KEY_PV" | tr -d '\r' | ssh-add - > /dev/null
  - touch ~/.ssh/config
  - echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config
  - ssh-keyscan -H $DEPLOY_SERVER_IP >> ~/.ssh/known_hosts
  script:
    - cd $FRONTEND_PATH
    - npm i
    - npm run build && aws s3 sync build/ s3://$S3_BUCKET/ --acl public-read
    - scp -r ./build/ ubuntu@$DEPLOY_SERVER_IP:/home/ubuntu/
    - ssh ubuntu@$DEPLOY_SERVER_IP "sudo rm -rf /var/www/html/*"
    - ssh ubuntu@$DEPLOY_SERVER_IP "sudo mv ./build/* /var/www/html"
  artifacts:
    paths:
    - $FRONTEND_PATH/build/
  rules:
  - changes:
    - frontend/**/*      

############################################################################

test-back:       # This job runs in the test stage, which runs first.
  stage: test
  script:
  - echo "//TODO test"
  rules:
    - changes:
      - backend/**/*
    
build-back:       # This job runs in the build stage, which runs first.
  stage: build
  image: maven:3.8.6-eclipse-temurin-17
  script:
    - cd $BACKEND_PATH
    - mvn clean package
  artifacts:
    paths: 
      - $BACKEND_PATH/target/*.jar
  rules:
    - changes:
      - backend/**/*

deploy-back:       # This job runs in the deploy stage, which runs first.
  stage: deploy
  image: alpine:3.11
  before_script:
    - apk update && apk add openssh-client bash
    - mkdir -p ~/.ssh
    - eval $(ssh-agent -s)
    - echo "$SSH_KEY_PV" | tr -d '\r' | ssh-add - > /dev/null
    - touch ~/.ssh/config
    - echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config
    - ssh-keyscan -H $DEPLOY_SERVER_IP >> ~/.ssh/known_hosts
  script:
    - echo "deploying..."
    - ssh ubuntu@$DEPLOY_SERVER_IP "sudo systemctl stop dbapi.service"
    - scp $BACKEND_PATH/target/*.jar ubuntu@$DEPLOY_SERVER_IP:~/db-api/dbapi.jar
    - ssh ubuntu@$DEPLOY_SERVER_IP "sudo systemctl start dbapi.service"
  environment: prod
  rules:
    - changes:
      - backend/**/*

fix(Signup): changing signin with signup
  frontend/fe-digital-booking/src/App.js
  frontend/fe-digital-booking/src/components/AuthButtons/AuthButtons.jsx
  frontend/fe-digital-booking/src/components/Drawer/Drawer.jsx
  frontend/fe-digital-booking/src/components/Drawer/Drawer.test.js
  frontend/fe-digital-booking/src/pages/Auth/LogIn/LogIn.jsx
  frontend/fe-digital-booking/src/pages/Auth/LogIn/LogIn.module.scss
  frontend/fe-digital-booking/src/pages/Auth/SignIn/SignIn.test.js
  frontend/fe-digital-booking/src/pages/Auth/SignIn/index.js
  frontend/fe-digital-booking/src/pages/Auth/SignUp/SignUp.jsx
  frontend/fe-digital-booking/src/pages/Auth/SignUp/SignUp.module.scss
  frontend/fe-digital-booking/src/pages/Auth/SignUp/SignUp.test.js
  frontend/fe-digital-booking/src/pages/Auth/SignUp/index.js
  frontend/fe-digital-booking/src/pages/Auth/index.js
Due: test-front, build-front, deploy-front

fix(Backend): add authservice
  backend/be-digital-booking/src/main/java/com/grupo9/db/controller/AuthController.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/service/AuthService.java
Due: test-back, build-back, deploy-back

feat(Backend): adding pre authorize for post, put and delete methods
  backend/be-digital-booking/src/main/java/com/grupo9/db/controller/CategoryController.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/controller/FeatureController.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/controller/ImageController.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/controller/LocationController.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/controller/PolicyController.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/controller/ProductController.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/controller/RoleController.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/controller/SubPolicyController.java
Due: test-back, build-back, deploy-back

docs: add postman doc
  docs/Digital Booking.postman_collection.json
  docs/Digital Booking.postman_test_run.json
Due: none

docs: add postman doc
  docs/Digital Booking.postman_collection.json
Due: none

fix(Products): allow requests by id when has no jwt
  backend/be-digital-booking/src/main/java/com/grupo9/db/security/WebSecurityConfig.java
Due: test-back, build-back, deploy-back

feat(Toast): adding toast
  frontend/fe-digital-booking/src/atoms/Toast/Toast.jsx
  frontend/fe-digital-booking/src/atoms/Toast/Toast.module.scss
  frontend/fe-digital-booking/src/atoms/Toast/index.js
  frontend/fe-digital-booking/src/atoms/index.js
  frontend/fe-digital-booking/src/stories/Text.stories.jsx
  frontend/fe-digital-booking/src/stories/Toast.stories.jsx
  frontend/fe-digital-booking/src/styles/_variables.scss
Due: test-front, build-front, deploy-front

feat: changing email in use label
  backend/be-digital-booking/src/main/java/com/grupo9/db/service/AuthService.java
Due: test-back, build-back, deploy-back

feat(SignUp): adding Toast when has error
  frontend/fe-digital-booking/src/atoms/Toast/index.js
  frontend/fe-digital-booking/src/pages/Auth/SignUp/SignUp.jsx
Due: test-front, build-front, deploy-front

feat(Login): adding Toast when has error
  frontend/fe-digital-booking/src/atoms/Toast/Toast.jsx
  frontend/fe-digital-booking/src/pages/Auth/LogIn/LogIn.jsx
  frontend/fe-digital-booking/src/pages/Auth/LogIn/LogIn.module.scss
Due: test-front, build-front, deploy-front

feat(Email): adding initial config
  backend/be-digital-booking/pom.xml
  backend/be-digital-booking/src/main/java/com/grupo9/db/controller/EmailController.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/model/EmailDetails.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/security/WebSecurityConfig.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/service/EmailServiceImpl.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/service/IEmailService.java
  backend/be-digital-booking/src/main/resources/application.properties
Due: test-back, build-back, deploy-back

feat(Email): adding isActive attribute on User Model
  backend/be-digital-booking/src/main/java/com/grupo9/db/model/User.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/security/jwt/JwtUtils.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/security/services/UserDetailsImpl.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/util/Loader/UsersLoader.java
Due: test-back, build-back, deploy-back

feat(Email): adding activation with email
  backend/be-digital-booking/pom.xml
  backend/be-digital-booking/src/main/java/com/grupo9/db/controller/AuthController.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/service/AuthService.java
  backend/be-digital-booking/src/main/resources/application.properties
Due: test-back, build-back, deploy-back

feat(Email): adding ActivateUserInfo component
  frontend/fe-digital-booking/src/App.js
  frontend/fe-digital-booking/src/atoms/InfoBanner/InfoBanner.jsx
  frontend/fe-digital-booking/src/atoms/InfoBanner/InfoBanner.module.scss
  frontend/fe-digital-booking/src/atoms/InfoBanner/index.js
  frontend/fe-digital-booking/src/atoms/index.js
  frontend/fe-digital-booking/src/pages/Auth/ActivateUserInfo/ActivateUserInfo.jsx
  frontend/fe-digital-booking/src/pages/Auth/ActivateUserInfo/ActivateUserInfo.module.scss
  frontend/fe-digital-booking/src/pages/Auth/ActivateUserInfo/index.js
  frontend/fe-digital-booking/src/pages/Auth/SignUp/SignUp.jsx
  frontend/fe-digital-booking/src/pages/Auth/UserActivation/UserActivation.jsx
  frontend/fe-digital-booking/src/pages/Auth/UserActivation/index.js
  frontend/fe-digital-booking/src/pages/Auth/index.js
  frontend/fe-digital-booking/src/stories/InfoBanner.stories.jsx
  frontend/fe-digital-booking/src/styles/_ui-kit.scss
Due: test-front, build-front, deploy-front

feat(Toast): adding closable prop
  frontend/fe-digital-booking/src/atoms/Toast/Toast.jsx
  frontend/fe-digital-booking/src/atoms/Toast/Toast.module.scss
  frontend/fe-digital-booking/src/stories/Toast.stories.jsx
Due: test-front, build-front, deploy-front

feat(Email): adding resendEmail method
  backend/be-digital-booking/src/main/java/com/grupo9/db/controller/AuthController.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/dto/Auth/ResendEmailDto.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/service/AuthService.java
  backend/be-digital-booking/src/main/resources/application.properties
Due: test-back, build-back, deploy-back

feat(Home): adding toast when user is no activated
  frontend/fe-digital-booking/src/pages/Home/Home.jsx
Due: test-front, build-front, deploy-front

fix(User): adding location attribute
  backend/be-digital-booking/src/main/java/com/grupo9/db/dto/Auth/SignupDto.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/model/User.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/security/jwt/JwtUtils.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/security/services/UserDetailsImpl.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/service/AuthService.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/util/DataLoader.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/util/Loader/UsersLoader.java
Due: test-back, build-back, deploy-back

feat(Auth): adding context and removing page reload methods
  frontend/fe-digital-booking/src/App.js
  frontend/fe-digital-booking/src/components/Drawer/Drawer.jsx
  frontend/fe-digital-booking/src/components/Header/Header.jsx
  frontend/fe-digital-booking/src/index.js
  frontend/fe-digital-booking/src/pages/Auth/LogIn/LogIn.jsx
  frontend/fe-digital-booking/src/pages/Home/Home.jsx
  frontend/fe-digital-booking/src/providers/AuthProvider/AuthContext.js
  frontend/fe-digital-booking/src/providers/AuthProvider/AuthProvider.jsx
  frontend/fe-digital-booking/src/providers/AuthProvider/index.js
  frontend/fe-digital-booking/src/providers/AuthProvider/useAuthContext.js
Due: test-front, build-front, deploy-front

fix(Toast): fixing styles
  frontend/fe-digital-booking/src/atoms/Toast/Toast.jsx
  frontend/fe-digital-booking/src/pages/Auth/LogIn/LogIn.module.scss
  frontend/fe-digital-booking/src/styles/_variables.scss
Due: test-front, build-front, deploy-front

feat: adding dropdown and writable dropdown
  frontend/fe-digital-booking/src/atoms/Dropdown/Dropdown.jsx
  frontend/fe-digital-booking/src/atoms/Dropdown/components/Option.jsx
  frontend/fe-digital-booking/src/atoms/WritableDropdown/WritableDropdown.jsx
  frontend/fe-digital-booking/src/atoms/WritableDropdown/WritableDropdown.module.scss
  frontend/fe-digital-booking/src/atoms/WritableDropdown/WritableDropdown.test.js
  frontend/fe-digital-booking/src/atoms/WritableDropdown/components/Option.jsx
  frontend/fe-digital-booking/src/atoms/WritableDropdown/components/Option.module.scss
  frontend/fe-digital-booking/src/atoms/WritableDropdown/components/Option.test.js
  frontend/fe-digital-booking/src/atoms/WritableDropdown/components/index.js
  frontend/fe-digital-booking/src/atoms/WritableDropdown/index.js
  frontend/fe-digital-booking/src/atoms/index.js
  frontend/fe-digital-booking/src/pages/Home/components/Searcher/Searcher.jsx
  frontend/fe-digital-booking/src/stories/Dropdown.stories.jsx
  frontend/fe-digital-booking/src/stories/WritableDropdown.stories.jsx
Due: test-front, build-front, deploy-front

fix: changing eye buttons to spans
  frontend/fe-digital-booking/src/atoms/Input/Input.jsx
Due: test-front, build-front, deploy-front

test Junit Category-Feature-Location-Policy-SubPolicy
  backend/be-digital-booking/src/test/java/com/grupo9/db/service/CategoryServiceTest.java
  backend/be-digital-booking/src/test/java/com/grupo9/db/service/LocationServiceTest.java
  backend/be-digital-booking/src/test/java/com/grupo9/db/service/PolicyServiceTest.java
  backend/be-digital-booking/src/test/java/com/grupo9/db/service/SubPolicyServiceTest.java
Due: test-back, build-back, deploy-back

feat(BookingCalendar): dates before current day are disabled. Saving selected dates in local storage
  frontend/fe-digital-booking/src/pages/Product/components/BookingCalendar/BookingCalendar.jsx
Due: test-front, build-front, deploy-front

feat(Booking): adding Booking template and components. Adding Booking route
  frontend/fe-digital-booking/src/App.js
  frontend/fe-digital-booking/src/pages/Booking/Booking.jsx
  frontend/fe-digital-booking/src/pages/Booking/Booking.module.scss
  frontend/fe-digital-booking/src/pages/Booking/BookingContainer.jsx
  frontend/fe-digital-booking/src/pages/Booking/components/BookingDetails/BookingDetails.jsx
  frontend/fe-digital-booking/src/pages/Booking/components/BookingDetails/BookingDetails.module.scss
  frontend/fe-digital-booking/src/pages/Booking/index.js
Due: test-front, build-front, deploy-front

Endpoints booking feat#59
  backend/be-digital-booking/avisos.log
  backend/be-digital-booking/src/main/java/com/grupo9/db/controller/BookingController.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/dto/Auth/SignupDto.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/dto/Bookings/SaveBookingDto.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/model/Booking.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/model/User.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/repository/IBookingRepository.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/service/AuthService.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/service/BookingService.java
Due: test-back, build-back, deploy-back

feat(Product): adding address attribute
  backend/be-digital-booking/src/main/java/com/grupo9/db/dto/Product/SaveProductDto.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/model/Product.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/service/ProductService.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/util/Loader/Products/Product1.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/util/Loader/Products/Product10.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/util/Loader/Products/Product11.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/util/Loader/Products/Product12.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/util/Loader/Products/Product2.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/util/Loader/Products/Product3.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/util/Loader/Products/Product4.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/util/Loader/Products/Product5.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/util/Loader/Products/Product6.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/util/Loader/Products/Product7.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/util/Loader/Products/Product8.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/util/Loader/Products/Product9.java
Due: test-back, build-back, deploy-back

feat(BookingDetails): creating new component
  frontend/fe-digital-booking/src/atoms/Subheader/Subheader.jsx
  frontend/fe-digital-booking/src/atoms/Subheader/Subheader.module.scss
  frontend/fe-digital-booking/src/pages/Booking/components/BookingDetails/BookingDetails.jsx
  frontend/fe-digital-booking/src/pages/Booking/components/BookingDetails/BookingDetails.module.scss
  frontend/fe-digital-booking/src/pages/Booking/components/BookingDetails/index.js
Due: test-front, build-front, deploy-front

refactor(BookingCalendar): refactor component
  frontend/fe-digital-booking/src/components/BookingCalendar/BookingCalendar.jsx
  frontend/fe-digital-booking/src/components/BookingCalendar/BookingCalendar.module.scss
  frontend/fe-digital-booking/src/components/BookingCalendar/index.js
  frontend/fe-digital-booking/src/components/index.js
  frontend/fe-digital-booking/src/pages/Booking/Booking.jsx
  frontend/fe-digital-booking/src/pages/Booking/Booking.module.scss
  frontend/fe-digital-booking/src/pages/Booking/BookingContainer.jsx
  frontend/fe-digital-booking/src/pages/Product/Product.jsx
  frontend/fe-digital-booking/src/pages/Product/components/BookingCalendar/BookingCalendar.jsx
  frontend/fe-digital-booking/src/pages/Product/components/BookingCalendar/index.js
  frontend/fe-digital-booking/src/pages/Product/components/index.js
Due: test-front, build-front, deploy-front

feature filter location y dates
  backend/be-digital-booking/src/main/java/com/grupo9/db/controller/BookingController.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/repository/IBookingRepository.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/repository/IProductRepository.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/service/BookingService.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/service/ProductService.java
Due: test-back, build-back, deploy-back

update frontend pipeline
  .gitlab-ci.yml
Due: none

Update backend pipeline, changing stages deploy to delivery
  .gitlab-ci.yml
Due: none

correccion filtro por fechas en booking
  backend/be-digital-booking/src/main/java/com/grupo9/db/controller/BookingController.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/repository/IBookingRepository.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/service/BookingService.java
Due: test-back, build-back, deploy-back

feat(BookingDetails): fixed styles, adding booked dates logic
  frontend/fe-digital-booking/src/pages/Booking/Booking.jsx
  frontend/fe-digital-booking/src/pages/Booking/Booking.module.scss
  frontend/fe-digital-booking/src/pages/Booking/components/BookingDetails/BookingDetails.jsx
  frontend/fe-digital-booking/src/pages/Booking/components/BookingDetails/BookingDetails.module.scss
  frontend/fe-digital-booking/src/pages/Product/Product.jsx
  frontend/fe-digital-booking/src/pages/Product/ProductContainer.jsx
Due: test-front, build-front, deploy-front

correccion filtros por fecha y fecha y ciudad
  backend/be-digital-booking/src/main/java/com/grupo9/db/controller/BookingController.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/repository/IProductRepository.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/service/ProductService.java
Due: test-back, build-back, deploy-back

filtro de productos id en booking
  backend/be-digital-booking/src/main/java/com/grupo9/db/controller/BookingController.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/repository/IBookingRepository.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/service/BookingService.java
Due: test-back, build-back, deploy-back

Bookings loader
  backend/be-digital-booking/src/main/java/com/grupo9/db/model/Booking.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/util/DataLoader.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/util/Loader/BookingsLoader.java
Due: test-back, build-back, deploy-back

fix(Booking): fixing CRUD methods, refactor controller and services
  backend/be-digital-booking/src/main/java/com/grupo9/db/controller/BookingController.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/dto/Bookings/SaveBookingDto.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/model/Booking.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/service/BookingService.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/util/DataLoader.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/util/Loader/BookingsLoader.java
Due: test-back, build-back, deploy-back

fix(SignUp): fixing slash bug on generator hash method
  backend/be-digital-booking/src/main/java/com/grupo9/db/service/AuthService.java
Due: test-back, build-back, deploy-back

fix(Header): fixing cursor pointer style bug
  frontend/fe-digital-booking/src/components/Header/Header.module.scss
Due: test-front, build-front, deploy-front
