Repository nataliehelm/digital-booking: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-back, build-front

.gitlab-ci.yml:

stages:      # List of stages for jobs, and their order of execution
  - test
  - build
  - deploy
cache:
  paths:
    - frontend/fe-digital-booking/node_modules/
build-back:       # This job runs in the build stage, which runs first.
  stage: build
  image: maven:3.8.6-eclipse-temurin-17
  script:
    - cd backend/be-digital-booking
    - mvn clean package
  rules:
    - changes:
      - backend/**/*

build-front:       # This job runs in the build stage, which runs first.
  stage: build
  image: node:19-alpine3.15 
  script:
    - cd frontend/fe-digital-booking
    - npm i
    - npm run build
    - mv build/ ../../
  artifacts:
    paths:
      - build/
  rules:
    - changes:
      - frontend/**/*
test-front:
  stage: test
  image: node:19-alpine3.15
  script:
    - cd frontend/fe-digital-booking
    - npm i
    - npm test -- --watchAll=false
deploy-front:
  stage: deploy
  image: node:19-alpine3.15
  before_script:
  - apt-get update
  - apt-get install curl -y && apt-get install unzip -y
  - curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
  - unzip awscliv2.zip
  - ./aws/install
  - aws configure set region $AWS_DEFAULT_REGION
  script:
    - aws s3 sync build/ s3://$S3_BUCKET/

feat(Backend): add lombok library on category and location classes
  backend/be-digital-booking/pom.xml
  backend/be-digital-booking/src/main/java/com/grupo9/db/model/Category.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/model/Location.java
Due: build-back

feat(Backend): add feature CRUD
  backend/be-digital-booking/src/main/java/com/grupo9/db/controller/FeatureController.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/model/Feature.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/repository/IFeatureRepository.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/service/FeatureService.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/util/Loader/FeaturesLoader.java
Due: build-back

feat(Backend): add subpolicy, policy, image and products CRUD
  backend/be-digital-booking/src/main/java/com/grupo9/db/controller/ImageController.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/controller/PolicyController.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/controller/ProductController.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/controller/SubPolicyController.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/model/Image.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/model/Policy.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/model/Product.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/model/SubPolicy.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/repository/IImageRepository.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/repository/IPolicyRepository.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/repository/IProductRepository.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/repository/ISubPolicyRepository.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/service/ImageService.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/service/PolicyService.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/service/ProductService.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/service/SubPolicyService.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/util/DataLoader.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/util/Loader/ImagesLoader.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/util/Loader/PoliciesLoader.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/util/Loader/ProductsLoader.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/util/Loader/SubPoliciesLoader.java
Due: build-back

fix(Policies): fixing subpolicies-policies relation
  backend/be-digital-booking/src/main/java/com/grupo9/db/model/Policy.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/model/SubPolicy.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/util/DataLoader.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/util/Loader/PoliciesLoader.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/util/Loader/SubPoliciesLoader.java
Due: build-back

fix(Backend): changing title for name on Category model
  backend/be-digital-booking/src/main/java/com/grupo9/db/model/Category.java
Due: build-back

fix: wrap footer label in one fragment
  frontend/fe-digital-booking/src/components/Footer/Footer.jsx
Due: build-front

fix: changing BookingCalendar folder
  frontend/fe-digital-booking/src/pages/Home/components/BookingCalendar/index.js
  frontend/fe-digital-booking/src/pages/Product/components/BookingCalendar/BookingCalendar.jsx
  frontend/fe-digital-booking/src/pages/Product/components/BookingCalendar/BookingCalendar.module.scss
  frontend/fe-digital-booking/src/pages/Product/components/BookingCalendar/index.js
Due: build-front

fix: renaming features and policies
  frontend/fe-digital-booking/package-lock.json
  frontend/fe-digital-booking/src/pages/Home/components/ProductList/lib/data.json
  frontend/fe-digital-booking/src/pages/Product/components/Features/Feature.jsx
  frontend/fe-digital-booking/src/pages/Product/components/Features/Features.jsx
  frontend/fe-digital-booking/src/pages/Product/components/Features/Features.module.scss
  frontend/fe-digital-booking/src/pages/Product/components/Features/Features.test.jsx
  frontend/fe-digital-booking/src/pages/Product/components/Features/lib/features.json
  frontend/fe-digital-booking/src/pages/Product/components/Policies/Policies.jsx
  frontend/fe-digital-booking/src/pages/Product/components/Policies/Policies.module.scss
  frontend/fe-digital-booking/src/pages/Product/components/Policies/Policies.test.jsx
  frontend/fe-digital-booking/src/pages/Product/components/Policies/Policy.jsx
  frontend/fe-digital-booking/src/pages/Product/components/Policies/Policy.test.jsx
  frontend/fe-digital-booking/src/pages/Product/components/Policies/index.js
  frontend/fe-digital-booking/src/pages/Product/components/Services/Services.jsx
  frontend/fe-digital-booking/src/pages/Product/components/Services/Services.module.scss
  frontend/fe-digital-booking/src/pages/Product/components/Services/Services.test.jsx
  frontend/fe-digital-booking/src/pages/Product/components/Services/index.js
Due: build-front

feat: removing hardcoded data and impl backend endpoints
  frontend/fe-digital-booking/src/pages/Home/components/CategoryList/CategoryList.jsx
  frontend/fe-digital-booking/src/pages/Home/components/ProductCard/ProductCard.jsx
  frontend/fe-digital-booking/src/pages/Home/components/ProductList/ProductList.jsx
  frontend/fe-digital-booking/src/pages/Product/Product.jsx
  frontend/fe-digital-booking/src/pages/Product/ProductContainer.jsx
  frontend/fe-digital-booking/src/pages/Product/components/Carousel/Carousel.jsx
  frontend/fe-digital-booking/src/pages/Product/components/ImagesSlider/ImageSlider.jsx
  frontend/fe-digital-booking/src/pages/Product/components/Map/Map.jsx
  frontend/fe-digital-booking/src/pages/Product/index.js
Due: build-front

fix(Backend): cleanup and add ranking limits
  backend/be-digital-booking/src/main/java/com/grupo9/db/model/Policy.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/model/Product.java
Due: build-back

feat(Image): adding DTO logic for update and save methods, formatting files
  backend/be-digital-booking/src/main/java/com/grupo9/db/controller/ImageController.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/dto/Image/SaveImageDto.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/model/Image.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/service/ImageService.java
Due: build-back

fix(Image): removing format
  backend/be-digital-booking/src/main/java/com/grupo9/db/controller/ImageController.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/service/ImageService.java
Due: build-back

feat(Policy): adding DTO logic for update and save methods
  backend/be-digital-booking/src/main/java/com/grupo9/db/controller/PolicyController.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/dto/Image/SaveImageDto.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/dto/Policy/SavePolicyDto.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/model/Policy.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/service/PolicyService.java
Due: build-back

fix(SubPolicy): fixing response error when not found by id
  backend/be-digital-booking/src/main/java/com/grupo9/db/service/SubPolicyService.java
Due: build-back

feat(Product): adding DTO logic for update and save methods
  backend/be-digital-booking/src/main/java/com/grupo9/db/controller/ProductController.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/dto/Product/SaveProductDto.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/model/Product.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/service/ProductService.java
Due: build-back

docs: adding postman collection
  docs/Digital Booking.postman_collection.json
Due: none

fix(Image): refactor relations logic
  backend/be-digital-booking/src/main/java/com/grupo9/db/model/Product.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/service/ImageService.java
Due: build-back

fix(Policy): refactor relations logic
  backend/be-digital-booking/src/main/java/com/grupo9/db/service/PolicyService.java
Due: build-back

fix(Product): refactor relations logic
  backend/be-digital-booking/src/main/java/com/grupo9/db/service/ProductService.java
Due: build-back

docs: updating postman collection
  docs/Digital Booking.postman_collection.json
Due: none

test: adding atoms and components unit tests
  frontend/fe-digital-booking/src/atoms/Button/Button.test.js
  frontend/fe-digital-booking/src/atoms/Rank/Rank.test.js
  frontend/fe-digital-booking/src/atoms/Score/Score.test.js
  frontend/fe-digital-booking/src/atoms/Subheader/Subheader.test.jsx
  frontend/fe-digital-booking/src/components/Footer/Footer.test.jsx
  frontend/fe-digital-booking/src/components/SocialNetwork/SocialNetwork.test.jsx
Due: build-front

feat(Product): adding products and their images to the loader
  backend/be-digital-booking/src/main/java/com/grupo9/db/util/Loader/FeaturesLoader.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/util/Loader/ImagesLoader.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/util/Loader/ProductsLoader.java
Due: build-back

feat(Product): adding dinamic title, description and feature icons to Product and ProductCard
  frontend/fe-digital-booking/src/pages/Home/components/ProductCard/ProductCard.jsx
  frontend/fe-digital-booking/src/pages/Home/components/ProductList/ProductList.jsx
  frontend/fe-digital-booking/src/pages/Product/Product.jsx
  frontend/fe-digital-booking/src/pages/Product/ProductContainer.jsx
Due: build-front

feat(Products): adding new products
  backend/be-digital-booking/src/main/java/com/grupo9/db/util/Loader/ImagesLoader.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/util/Loader/PoliciesLoader.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/util/Loader/Products/Product1.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/util/Loader/Products/Product10.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/util/Loader/Products/Product11.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/util/Loader/Products/Product12.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/util/Loader/Products/Product2.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/util/Loader/Products/Product3.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/util/Loader/Products/Product4.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/util/Loader/Products/Product5.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/util/Loader/Products/Product6.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/util/Loader/Products/Product7.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/util/Loader/Products/Product8.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/util/Loader/Products/Product9.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/util/Loader/ProductsLoader.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/util/Loader/SubPoliciesLoader.java
Due: build-back

feat(Backend): adding findByParams with categoryId logic
  backend/be-digital-booking/src/main/java/com/grupo9/db/controller/ProductController.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/repository/IProductRepository.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/service/ProductService.java
Due: build-back

feature/32, 34 y 35
  backend/be-digital-booking/src/main/java/com/grupo9/db/controller/ProductController.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/repository/IProductRepository.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/service/ProductService.java
Due: build-back

fix(Product): adding key to features array in ProductCard
  frontend/fe-digital-booking/src/pages/Home/components/ProductCard/ProductCard.jsx
  frontend/fe-digital-booking/src/pages/Home/components/ProductList/ProductList.jsx
Due: build-front

fix(Product): changing findByParams models and repositories
  backend/be-digital-booking/src/main/java/com/grupo9/db/repository/IProductRepository.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/service/ProductService.java
Due: build-back

feat(Product): adding token header controller
  backend/be-digital-booking/src/main/java/com/grupo9/db/controller/ProductController.java
Due: build-back

refactor(Location): refactoring Location model and loader
  backend/be-digital-booking/src/main/java/com/grupo9/db/model/Location.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/util/Loader/LocationsLoader.java
Due: build-back

feat(Home): adding impl of categories filter and fixing image sizes
  frontend/fe-digital-booking/src/pages/Home/Home.jsx
  frontend/fe-digital-booking/src/pages/Home/components/CategoryList/CategoryList.jsx
  frontend/fe-digital-booking/src/pages/Home/components/ProductCard/ProductCard.module.scss
  frontend/fe-digital-booking/src/pages/Product/components/Carousel/Carousel.module.scss
  frontend/fe-digital-booking/src/pages/Product/components/Carousel/components/ImageSlider/carousel.scss
  frontend/fe-digital-booking/src/pages/Product/index.js
Due: build-front

refactor(Location): adding NoEmpty messages to Location
  backend/be-digital-booking/src/main/java/com/grupo9/db/model/Location.java
Due: build-back

fix(Location): fixing locations mapper title and descrition
  frontend/fe-digital-booking/src/mappers/locations.mapper.js
Due: build-front

feature/32 product random
  backend/be-digital-booking/src/main/java/com/grupo9/db/controller/ProductController.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/repository/IProductRepository.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/service/ProductService.java
Due: build-back

fix(Product): fixing location on Product page to show city and reference
  frontend/fe-digital-booking/src/pages/Home/components/ProductList/ProductList.jsx
  frontend/fe-digital-booking/src/pages/Product/Product.jsx
  frontend/fe-digital-booking/src/pages/Product/Product.module.scss
  frontend/fe-digital-booking/src/pages/Product/ProductContainer.jsx
  frontend/fe-digital-booking/src/pages/Product/components/Features/Features.module.scss
Due: build-front

feat(Product): adding random logic
  backend/be-digital-booking/src/main/java/com/grupo9/db/controller/ProductController.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/repository/IProductRepository.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/service/ProductService.java
Due: build-back

feat(Product): adding random logic
  backend/be-digital-booking/src/main/java/com/grupo9/db/service/ProductService.java
Due: build-back

feat(Home): adding category filter
  frontend/fe-digital-booking/src/App.js
  frontend/fe-digital-booking/src/pages/Home/Home.jsx
  frontend/fe-digital-booking/src/pages/Home/components/CategoryList/CategoryList.module.scss
  frontend/fe-digital-booking/src/pages/Home/components/ProductList/ProductList.jsx
Due: build-front

feat(Backend): adding multiple categoryIds params and fixing random response logic
  backend/be-digital-booking/src/main/java/com/grupo9/db/repository/IProductRepository.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/service/ProductService.java
Due: build-back
