Repository nataliehelm/digital-booking: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-back, build-front

build-back:
  stage: build
  image: maven:3.8.6-eclipse-temurin-17
  script:
  - cd backend/be-digital-booking
  - mvn clean package

build-front:
  stage: build
  image: node:19-alpine3.15
  script:
  - cd frontend/fe-digital-booking
  - npm i
  - npm run build
  - mv build/ ../../
  artifacts:
    paths:
    - build/

feat(Home): allow multiple category ids
  frontend/fe-digital-booking/src/api/digital-booking.api.js
  frontend/fe-digital-booking/src/hooks/useFetch/useFetch.js
  frontend/fe-digital-booking/src/pages/Home/Home.jsx
  frontend/fe-digital-booking/src/pages/Home/components/CategoryList/CategoryList.jsx
  frontend/fe-digital-booking/src/pages/Home/components/CategoryList/CategoryList.module.scss
  frontend/fe-digital-booking/src/pages/Home/components/ProductList/ProductList.jsx
Due: build-front

feat(Home): adding location filter and reset option on dropdown
  frontend/fe-digital-booking/src/atoms/Dropdown/Dropdown.jsx
  frontend/fe-digital-booking/src/pages/Home/Home.jsx
  frontend/fe-digital-booking/src/pages/Home/components/Searcher/Searcher.jsx
Due: build-front

fix(Home): changing onSubmit searcher
  frontend/fe-digital-booking/src/pages/Home/Home.jsx
  frontend/fe-digital-booking/src/pages/Home/components/Searcher/Searcher.jsx
Due: build-front

fix(Dropdown): removing reset state
  frontend/fe-digital-booking/src/atoms/Dropdown/Dropdown.jsx
  frontend/fe-digital-booking/src/pages/Home/components/Searcher/Searcher.jsx
Due: build-front

fix(Backend): adding filter mix
  backend/be-digital-booking/src/main/java/com/grupo9/db/repository/IProductRepository.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/service/ProductService.java
Due: build-back

fix(Front): fixing local storage bug
  frontend/fe-digital-booking/src/pages/Home/Home.jsx
Due: build-front

feat(Searcher): adding onReset method
  frontend/fe-digital-booking/src/atoms/Dropdown/Dropdown.jsx
  frontend/fe-digital-booking/src/pages/Home/Home.jsx
  frontend/fe-digital-booking/src/pages/Home/components/Searcher/Searcher.jsx
Due: build-front

fix: fixing broken tests
  frontend/fe-digital-booking/src/pages/Product/components/Features/lib/features.json
  frontend/fe-digital-booking/src/pages/Product/components/Policies/Policies.test.jsx
  frontend/fe-digital-booking/src/pages/Product/components/Policies/components/Policy/Policy.test.jsx
  frontend/fe-digital-booking/src/pages/Product/components/Policies/components/Policy/lib/policy.json
  frontend/fe-digital-booking/src/pages/Product/components/Policies/lib/policies.json
Due: build-front

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

adding environment variable production file
  frontend/fe-digital-booking/.env.production.local
  frontend/fe-digital-booking/.gitignore
Due: build-front

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

Update README.md
  frontend/README.md
Due: build-front

fix: update postman collection
  docs/Digital Booking.postman_collection.json
Due: none

fix(Backend): adding validations
  backend/be-digital-booking/src/main/java/com/grupo9/db/controller/LocationController.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/model/Category.java
Due: build-back

test: adding unit tests to different components
  frontend/fe-digital-booking/src/components/Layout/Layout.test.jsx
  frontend/fe-digital-booking/src/pages/Home/components/CategoryCard/CategoryCard.test.jsx
  frontend/fe-digital-booking/src/pages/Home/components/CategoryList/CategoryList.test.jsx
  frontend/fe-digital-booking/src/pages/Home/components/ProductList/ProductList.test.jsx
Due: build-front

test: fixing unit tests
  frontend/fe-digital-booking/src/pages/Product/components/Features/Features.test.jsx
  frontend/fe-digital-booking/src/pages/Product/components/Features/lib/features.json
  frontend/fe-digital-booking/src/pages/Product/components/Policies/Policies.test.jsx
  frontend/fe-digital-booking/src/pages/Product/components/Policies/components/Policy/Policy.test.jsx
  frontend/fe-digital-booking/src/pages/Product/components/Policies/components/Policy/lib/policy.json
  frontend/fe-digital-booking/src/pages/Product/components/Policies/lib/policies.json
Due: build-front

feature(Role): adding Role CRUD
  backend/be-digital-booking/src/main/java/com/grupo9/db/controller/RoleController.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/model/Role.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/repository/IRoleRepository.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/service/RoleService.java
Due: build-back

fix: adding useFetch catch error
  README.md
  frontend/fe-digital-booking/src/hooks/useFetch/useFetch.js
Due: build-front

feat: adding categories concat on product list
  frontend/fe-digital-booking/src/pages/Home/Home.jsx
  frontend/fe-digital-booking/src/pages/Home/components/CategoryList/CategoryList.jsx
  frontend/fe-digital-booking/src/pages/Home/components/ProductList/ProductList.jsx
Due: build-front

fix: adding error response on throws
  backend/be-digital-booking/src/main/java/com/grupo9/db/exceptions/GlobalExceptions.java
Due: build-back

feat(Backend): adding login first version
  backend/be-digital-booking/pom.xml
  backend/be-digital-booking/src/main/java/com/grupo9/db/controller/AuthController.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/dto/Auth/JwtResponse.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/dto/Auth/LoginDto.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/dto/Auth/MessageResponse.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/dto/Auth/SignupDto.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/model/ERole.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/model/Role.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/model/User.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/repository/IRoleRepository.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/repository/IUserRepository.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/security/WebSecurityConfig.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/security/jwt/AuthEntryPointJwt.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/security/jwt/AuthTokenFilter.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/security/jwt/JwtUtils.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/security/services/UserDetailsImpl.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/security/services/UserDetailsServiceImpl.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/util/DataLoader.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/util/Loader/RolesLoader.java
  backend/be-digital-booking/src/main/resources/application.properties
Due: build-back

feat(Backend): adding custom response and allow product, auth and swagger endpoints
  backend/be-digital-booking/src/main/java/com/grupo9/db/security/WebSecurityConfig.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/security/jwt/AuthEntryPointJwt.java
Due: build-back

fix: adding independent styles for each calendar
  frontend/fe-digital-booking/.gitignore
  frontend/fe-digital-booking/public/assets/styles/booking-calendar.css
  frontend/fe-digital-booking/public/assets/styles/home-calendar.css
  frontend/fe-digital-booking/src/components/Calendar/Calendar.jsx
  frontend/fe-digital-booking/src/pages/Product/components/BookingCalendar/BookingCalendar.jsx
Due: build-front

feat(Backend): adding login and signup methods with jwt logic
  backend/be-digital-booking/src/main/java/com/grupo9/db/controller/AuthController.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/dto/Auth/JwtResponse.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/dto/Auth/LoginDto.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/dto/Auth/SignupDto.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/model/User.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/repository/IRoleRepository.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/repository/IUserRepository.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/security/jwt/AuthTokenFilter.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/security/jwt/JwtUtils.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/security/services/UserDetailsImpl.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/security/services/UserDetailsServiceImpl.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/util/DataLoader.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/util/Loader/UsersLoader.java
Due: build-back

Test Junit Backend
  backend/be-digital-booking/src/test/java/com/grupo9/db/service/FeatureServiceTest.java
Due: build-back

feat(Backend): adding jwt auth on swagger
  backend/be-digital-booking/pom.xml
  backend/be-digital-booking/src/main/java/com/grupo9/db/config/SwaggerConfiguration.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/security/jwt/AuthTokenFilter.java
  backend/be-digital-booking/src/main/resources/application.properties
Due: build-back

Update README.md
  backend/README.md
Due: build-back

fix(BookingCalendar): fixing booking calendar styles and dates selection
  frontend/fe-digital-booking/public/assets/styles/booking-calendar.css
  frontend/fe-digital-booking/src/pages/Product/Product.module.scss
  frontend/fe-digital-booking/src/pages/Product/components/BookingCalendar/BookingCalendar.jsx
  frontend/fe-digital-booking/src/pages/Product/components/BookingCalendar/BookingCalendar.module.scss
  frontend/fe-digital-booking/src/utils/dates.js
Due: build-front

fix: adding user get methods
  backend/be-digital-booking/src/main/java/com/grupo9/db/controller/AuthController.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/controller/UserController.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/dto/Auth/SignupDto.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/model/User.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/security/WebSecurityConfig.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/service/UserService.java
Due: build-back

feat: adding initial user
  backend/be-digital-booking/src/main/java/com/grupo9/db/util/Loader/UsersLoader.java
Due: build-back

feat(Login): add backend impl
  frontend/fe-digital-booking/package-lock.json
  frontend/fe-digital-booking/package.json
  frontend/fe-digital-booking/src/hooks/useFetch/useFetchLazy.js
  frontend/fe-digital-booking/src/pages/Auth/LogIn/LogIn.jsx
Due: build-front

feat: allowing categories and locations without auth
  backend/be-digital-booking/src/main/java/com/grupo9/db/security/WebSecurityConfig.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/security/jwt/AuthEntryPointJwt.java
Due: build-back

feat(Backend): adding name and lastname on jwt response
  backend/be-digital-booking/src/main/java/com/grupo9/db/security/jwt/JwtUtils.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/security/services/UserDetailsImpl.java
Due: build-back

feat(Header): adding jwt impl
  frontend/fe-digital-booking/src/components/Header/Header.jsx
Due: build-front

fix(BookingCalendar): calling Product's endpoint to show booked dates
  frontend/fe-digital-booking/src/pages/Product/Product.jsx
  frontend/fe-digital-booking/src/pages/Product/ProductContainer.jsx
  frontend/fe-digital-booking/src/pages/Product/components/BookingCalendar/BookingCalendar.jsx
  frontend/fe-digital-booking/src/pages/Product/lib/booking.json
Due: build-front

feat(SignIn): adding backend impl
  frontend/fe-digital-booking/src/pages/Auth/LogIn/LogIn.jsx
  frontend/fe-digital-booking/src/pages/Auth/SignIn/SignIn.jsx
Due: build-front

Path conditions:
  build-back: any of: backend/**/*
  build-front: any of: frontend/**/*
