Repository nataliehelm/digital-booking: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-front, build-front, deploy-front, test-back, build-back, deploy-back

.gitlab-ci.yml:

variables:
  FRONTEND_PATH: "frontend/fe-digital-booking/"
  BACKEND_PATH: "backend/be-digital-booking/"

stages:  # List of stages for jobs, and their order of execution
  - test
  - build     
  - deploy
  
test-front: # This job runs in the test stage, which runs first.
  stage: test
  image: node:19-alpine3.15
  script:
    - echo "Testing front... (BY PASSED)"
    - cd $FRONTEND_PATH
    - npm install
    #- npm test -- --watchAll=false
  cache:
    paths:
      - $FRONTEND_PATH/node_modules/
    key:
      files:
        - $FRONTEND_PATH/package-lock.json
  rules:
  - changes:
    - frontend/**/*  

build-front: # This job runs in the build stage, which runs second.
  stage: build
  image: node:19-alpine3.15 
  script:
    - cd $FRONTEND_PATH
    - npm run build
  cache:
    key:
      files:
        - $FRONTEND_PATH/package-lock.json
    paths:
      - $FRONTEND_PATH/node_modules
      - $FRONTEND_PATH/build
    policy: pull
  artifacts:
    paths:
      - $FRONTEND_PATH/build/
  rules:
    - changes:
      - frontend/**/*

deploy-front: # This job runs in the deploy stage, which runs third.
  stage: deploy
  image: node:19.0-bullseye
  before_script:
  - apt update
  - apt install curl -y && apt install unzip -y
  - curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
  - unzip -q awscliv2.zip
  - ./aws/install
  - mkdir -p ~/.ssh
  - eval $(ssh-agent -s)
  - echo "$SSH_KEY_PV" | tr -d '\r' | ssh-add - > /dev/null
  - touch ~/.ssh/config
  - echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config
  - ssh-keyscan -H $DEPLOY_SERVER_IP_FE >> ~/.ssh/known_hosts
  script:
    - aws --version
    - aws s3 sync $FRONTEND_PATH/build/ s3://$S3_BUCKET/ --acl public-read
    - scp -r $FRONTEND_PATH/build/ ubuntu@$DEPLOY_SERVER_IP_FE:/home/ubuntu/
    - ssh ubuntu@$DEPLOY_SERVER_IP_FE "sudo rm -rf /var/www/html/*"
    - ssh ubuntu@$DEPLOY_SERVER_IP_FE "sudo mv ./build/* /var/www/html"
  cache:
    key:
      files:
        - $FRONTEND_PATH/package-lock.json
    paths:
      - $FRONTEND_PATH/node_modules
      - $FRONTEND_PATH/build
    policy: pull
  rules:
  - changes:
    - frontend/**/*      

############################################################################

test-back:       # This job runs in the test stage, which runs first.
  stage: test
  script:
  - echo "//TODO test"
  rules:
    - changes:
      - backend/**/*
    
build-back:       # This job runs in the build stage, which runs first.
  stage: build
  image: maven:3.8.6-eclipse-temurin-17
  script:
    - cd $BACKEND_PATH
    - mvn clean package
  artifacts:
    paths: 
      - $BACKEND_PATH/target/*.jar
  rules:
    - changes:
      - backend/**/*

deploy-back:       # This job runs in the deploy stage, which runs first.
  stage: deploy
  image: alpine:3.11
  before_script:
    - apk update && apk add openssh-client bash
    - mkdir -p ~/.ssh
    - eval $(ssh-agent -s)
    - echo "$SSH_KEY_PV" | tr -d '\r' | ssh-add - > /dev/null
    - touch ~/.ssh/config
    - echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config
    - ssh-keyscan -H $DEPLOY_SERVER_IP_BE >> ~/.ssh/known_hosts
  script:
    - echo "deploying..."
    - ssh ubuntu@$DEPLOY_SERVER_IP_BE "sudo systemctl stop dbapi.service"
    - scp $BACKEND_PATH/target/*.jar ubuntu@$$DEPLOY_SERVER_IP_BE:~/db-api/dbapi.jar
    - ssh ubuntu@$DEPLOY_SERVER_IP_BE "sudo systemctl start dbapi.service"
  environment: prod
  rules:
    - changes:
      - backend/**/*

feat(Admin): adding main Admin page
  frontend/fe-digital-booking/src/App.js
  frontend/fe-digital-booking/src/atoms/IconCard/IconCard.jsx
  frontend/fe-digital-booking/src/atoms/IconCard/IconCard.module.scss
  frontend/fe-digital-booking/src/atoms/IconCard/index.js
  frontend/fe-digital-booking/src/atoms/index.js
  frontend/fe-digital-booking/src/modules/Admin/Admin.jsx
  frontend/fe-digital-booking/src/modules/Admin/Admin.module.scss
  frontend/fe-digital-booking/src/modules/Admin/AdminContainer.jsx
  frontend/fe-digital-booking/src/modules/Admin/components/AdminCard.jsx
  frontend/fe-digital-booking/src/modules/Admin/components/AdminCard.module.scss
  frontend/fe-digital-booking/src/modules/Admin/components/index.js
  frontend/fe-digital-booking/src/modules/Admin/pages/hooks/index.js
  frontend/fe-digital-booking/src/modules/Admin/pages/hooks/useAdmin.js
Due: test-front, build-front, deploy-front

feat(CreateProduct): adding file uploader impl
  frontend/fe-digital-booking/src/atoms/DragAndDrop/DragAndDrop.jsx
  frontend/fe-digital-booking/src/atoms/DragAndDrop/index.js
  frontend/fe-digital-booking/src/atoms/index.js
  frontend/fe-digital-booking/src/modules/Admin/pages/CreateProduct/CreateProduct.jsx
  frontend/fe-digital-booking/src/modules/Admin/pages/CreateProduct/components/Images/Images.jsx
  frontend/fe-digital-booking/src/modules/Admin/pages/CreateProduct/components/Images/Images.module.scss
  frontend/fe-digital-booking/src/modules/Admin/pages/CreateProduct/hooks/useCreateProduct.js
Due: test-front, build-front, deploy-front

feat(Modules): adding labels on drawer and header without onClick method
  frontend/fe-digital-booking/src/App.js
  frontend/fe-digital-booking/src/components/Drawer/Drawer.jsx
  frontend/fe-digital-booking/src/components/Header/Header.jsx
  frontend/fe-digital-booking/src/components/Header/Header.module.scss
  frontend/fe-digital-booking/src/components/ModulesButton/ModulesButton.jsx
  frontend/fe-digital-booking/src/components/ModulesButton/ModulesButton.module.scss
  frontend/fe-digital-booking/src/components/ModulesButton/index.js
  frontend/fe-digital-booking/src/components/index.js
  frontend/fe-digital-booking/src/pages/Booking/BookingContainer.jsx
Due: test-front, build-front, deploy-front

fix(AdminCard): fixing height/width
  frontend/fe-digital-booking/src/atoms/IconCard/IconCard.module.scss
  frontend/fe-digital-booking/src/modules/Admin/Admin.module.scss
  frontend/fe-digital-booking/src/modules/Admin/components/AdminCard.module.scss
Due: test-front, build-front, deploy-front

fix(AdminCard): fixing height/width
  frontend/fe-digital-booking/src/modules/Admin/Admin.module.scss
Due: test-front, build-front, deploy-front

fix: fixing upload images and create product bugs
  backend/be-digital-booking/src/main/java/com/grupo9/db/service/AmazonClient.java
  backend/be-digital-booking/src/main/resources/application.properties
  frontend/fe-digital-booking/src/components/Drawer/Drawer.jsx
  frontend/fe-digital-booking/src/components/Header/Header.jsx
  frontend/fe-digital-booking/src/modules/Admin/pages/CreateProduct/CreateProduct.jsx
  frontend/fe-digital-booking/src/modules/Admin/pages/CreateProduct/components/LocationInfo/Address.jsx
  frontend/fe-digital-booking/src/modules/Admin/pages/CreateProduct/hooks/useCreateProduct.js
Due: test-front, build-front, deploy-front, test-back, build-back, deploy-back

feat(EditProduct): adding Edit product page
  frontend/fe-digital-booking/src/App.js
  frontend/fe-digital-booking/src/modules/Admin/pages/CreateProduct/components/LocationInfo/Address.jsx
  frontend/fe-digital-booking/src/modules/Admin/pages/EditProduct/EditProduct.jsx
  frontend/fe-digital-booking/src/modules/Admin/pages/EditProduct/EditProduct.module.scss
  frontend/fe-digital-booking/src/modules/Admin/pages/EditProduct/EditProductContainer.jsx
  frontend/fe-digital-booking/src/modules/Admin/pages/EditProduct/hooks/index.js
  frontend/fe-digital-booking/src/modules/Admin/pages/EditProduct/hooks/useEditProduct.js
  frontend/fe-digital-booking/src/modules/Admin/pages/EditProduct/index.js
  frontend/fe-digital-booking/src/modules/Admin/pages/index.js
Due: test-front, build-front, deploy-front

feat(EditProduct): adding name initial value
  frontend/fe-digital-booking/src/modules/Admin/pages/EditProduct/EditProduct.jsx
  frontend/fe-digital-booking/src/modules/Admin/pages/EditProduct/EditProductContainer.jsx
  frontend/fe-digital-booking/src/modules/Admin/pages/EditProduct/hooks/useEditProduct.js
Due: test-front, build-front, deploy-front

feat(EditProduct): showing product information on inputs
  frontend/fe-digital-booking/src/modules/Admin/pages/CreateProduct/CreateProduct.jsx
  frontend/fe-digital-booking/src/modules/Admin/pages/CreateProduct/components/Images/Images.jsx
  frontend/fe-digital-booking/src/modules/Admin/pages/CreateProduct/components/LocationInfo/LocationInfo.jsx
  frontend/fe-digital-booking/src/modules/Admin/pages/CreateProduct/components/ProductInfo/ProductInfo.jsx
  frontend/fe-digital-booking/src/modules/Admin/pages/EditProduct/EditProduct.jsx
  frontend/fe-digital-booking/src/modules/Admin/pages/EditProduct/hooks/useEditProduct.js
Due: test-front, build-front, deploy-front

feat: adding image preview on edit page
  frontend/fe-digital-booking/src/atoms/DragAndDrop/DragAndDrop.module.scss
  frontend/fe-digital-booking/src/modules/Admin/pages/EditProduct/hooks/useEditProduct.js
  frontend/fe-digital-booking/src/utils/images.js
Due: test-front, build-front, deploy-front

feat: adding isNew flag on images
  frontend/fe-digital-booking/src/modules/Admin/pages/CreateProduct/components/Images/Images.jsx
  frontend/fe-digital-booking/src/modules/Admin/pages/EditProduct/EditProduct.jsx
  frontend/fe-digital-booking/src/modules/Admin/pages/EditProduct/hooks/useEditProduct.js
Due: test-front, build-front, deploy-front

feat: adding remove image method
  backend/be-digital-booking/src/main/java/com/grupo9/db/controller/ImageController.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/model/Product.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/repository/IImageRepository.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/service/ImageService.java
  frontend/fe-digital-booking/src/modules/Admin/pages/EditProduct/EditProduct.jsx
  frontend/fe-digital-booking/src/modules/Admin/pages/EditProduct/components/Images/Images.jsx
  frontend/fe-digital-booking/src/modules/Admin/pages/EditProduct/components/Images/Images.module.scss
  frontend/fe-digital-booking/src/modules/Admin/pages/EditProduct/components/Images/index.js
  frontend/fe-digital-booking/src/modules/Admin/pages/EditProduct/components/index.js
  frontend/fe-digital-booking/src/modules/Admin/pages/EditProduct/hooks/useEditProduct.js
  frontend/fe-digital-booking/src/pages/Home/components/ProductList/ProductList.jsx
  frontend/fe-digital-booking/src/pages/Product/components/Carousel/Carousel.jsx
Due: test-front, build-front, deploy-front, test-back, build-back, deploy-back

feat(EditProduct): adding logic to submit
  frontend/fe-digital-booking/src/atoms/WritableDropdown/WritableDropdown.jsx
  frontend/fe-digital-booking/src/modules/Admin/pages/CreateProduct/components/LocationInfo/Address.jsx
  frontend/fe-digital-booking/src/modules/Admin/pages/CreateProduct/components/LocationInfo/LocationInfo.jsx
  frontend/fe-digital-booking/src/modules/Admin/pages/EditProduct/EditProduct.jsx
  frontend/fe-digital-booking/src/modules/Admin/pages/EditProduct/EditProduct.module.scss
  frontend/fe-digital-booking/src/modules/Admin/pages/EditProduct/EditProductContainer.jsx
  frontend/fe-digital-booking/src/modules/Admin/pages/EditProduct/components/Images/Images.jsx
  frontend/fe-digital-booking/src/modules/Admin/pages/EditProduct/hooks/useEditProduct.js
  frontend/fe-digital-booking/src/pages/Booking/components/UserInfoForm/UserInfoForm.jsx
Due: test-front, build-front, deploy-front

feat: adding more length for product description
  backend/be-digital-booking/src/main/java/com/grupo9/db/model/Product.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/model/SubPolicy.java
Due: test-back, build-back, deploy-back

fix: removing Reservas module
  frontend/fe-digital-booking/src/components/Drawer/Drawer.jsx
  frontend/fe-digital-booking/src/components/Header/Header.jsx
Due: test-front, build-front, deploy-front

feat(EditProduct): adding success edit product page
  frontend/fe-digital-booking/src/App.js
  frontend/fe-digital-booking/src/modules/Admin/pages/EditProduct/EditProduct.jsx
  frontend/fe-digital-booking/src/modules/Admin/pages/EditProduct/hooks/useEditProduct.js
  frontend/fe-digital-booking/src/modules/Admin/pages/SuccessEditProduct/SuccessEditProduct.jsx
  frontend/fe-digital-booking/src/modules/Admin/pages/SuccessEditProduct/SuccessEditProduct.module.scss
  frontend/fe-digital-booking/src/modules/Admin/pages/SuccessEditProduct/index.js
Due: test-front, build-front, deploy-front

feat(Admin): adding paginator to admin page
  frontend/fe-digital-booking/src/modules/Admin/Admin.jsx
  frontend/fe-digital-booking/src/modules/Admin/Admin.module.scss
  frontend/fe-digital-booking/src/modules/Admin/pages/hooks/useAdmin.js
Due: test-front, build-front, deploy-front

cleaning proyect folders
  .DS_Store
  .commitlintrc.json
  .husky/commit-msg
  README.md
  backend/.idea/jpa-buddy.xml
  backend/.idea/misc.xml
  backend/.idea/vcs.xml
  backend/.idea/workspace.xml
  backend/be-digital-booking/src/test/java/com/grupo9/db/service/PolicyServiceTest.java
  backend/be-digital-booking/src/test/java/com/grupo9/db/service/SubPolicyServiceTest.java
  package-lock.json
  package.json
Due: test-back, build-back, deploy-back

Update README.md
  README.md
Due: none
