Repository nataliehelm/digital-booking: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-front, build-front, deploy-front, test-back, build-back, deploy-back

test-front:
  stage: test
  image: node:19-alpine3.15
  script:
  - echo "Testing front... (BY PASSED)"
  - cd $FRONTEND_PATH
  - npm install
  cache:
    paths:
    - $FRONTEND_PATH/node_modules/
    key:
      files:
      - $FRONTEND_PATH/package-lock.json

build-front:
  stage: build
  image: node:19-alpine3.15
  script:
  - cd $FRONTEND_PATH
  - npm run build
  cache:
    key:
      files:
      - $FRONTEND_PATH/package-lock.json
    paths:
    - $FRONTEND_PATH/node_modules
    - $FRONTEND_PATH/build
    policy: pull
  artifacts:
    paths:
    - $FRONTEND_PATH/build/

deploy-front:
  stage: deploy
  image: node:19.0-bullseye
  before_script:
  - apt update
  - apt install curl -y && apt install unzip -y
  - curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
  - unzip -q awscliv2.zip
  - ./aws/install
  - mkdir -p ~/.ssh
  - eval $(ssh-agent -s)
  ...

test-back:
  stage: test
  script:
  - echo "//TODO test"

build-back:
  stage: build
  image: maven:3.8.6-eclipse-temurin-17
  script:
  - cd $BACKEND_PATH
  - mvn clean package
  artifacts:
    paths:
    - $BACKEND_PATH/target/*.jar

deploy-back:
  stage: deploy
  image: alpine:3.11
  before_script:
  - apk update && apk add openssh-client bash
  - mkdir -p ~/.ssh
  - eval $(ssh-agent -s)
  - echo "$SSH_KEY_PV" | tr -d '\r' | ssh-add - > /dev/null
  - touch ~/.ssh/config
  - echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config
  ...

fix(Home): fixing Authorization header
  frontend/fe-digital-booking/src/pages/Home/Home.jsx
Due: test-front, build-front, deploy-front

feat(Product): adding functionality to booking button and conditional paths
  frontend/fe-digital-booking/src/pages/Auth/LogIn/LogIn.jsx
  frontend/fe-digital-booking/src/pages/Product/Product.jsx
Due: test-front, build-front, deploy-front

feat(Booking): adding dropdown element to select booking hour
  frontend/fe-digital-booking/src/atoms/Dropdown/Dropdown.module.scss
  frontend/fe-digital-booking/src/pages/Booking/Booking.jsx
  frontend/fe-digital-booking/src/pages/Booking/Booking.module.scss
  frontend/fe-digital-booking/src/pages/Product/lib/time-list.json
Due: test-front, build-front, deploy-front

feat(Home): adding auto scroll on search
  frontend/fe-digital-booking/src/components/AuthButtons/AuthButtons.jsx
  frontend/fe-digital-booking/src/components/AuthButtons/AuthButtons.module.scss
  frontend/fe-digital-booking/src/pages/Home/Home.jsx
  frontend/fe-digital-booking/src/pages/Home/components/Searcher/Searcher.jsx
Due: test-front, build-front, deploy-front

fix(Product): refactor product filter by dates
  backend/be-digital-booking/src/main/java/com/grupo9/db/controller/BookingController.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/repository/IBookingRepository.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/repository/IProductRepository.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/service/BookingService.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/service/ProductService.java
Due: test-back, build-back, deploy-back

docs: adding postman latest version
  docs/Digital Booking.postman_collection.json
Due: none

feat(react-date-range): changing default styles
  frontend/fe-digital-booking/public/assets/styles/home-calendar.css
  frontend/fe-digital-booking/src/components/Calendar/Calendar.jsx
  frontend/fe-digital-booking/src/index.js
  frontend/fe-digital-booking/src/pages/Home/Home.jsx
  frontend/fe-digital-booking/src/react-date-range-default-theme.scss
  frontend/fe-digital-booking/src/react-date-range-styles.scss
Due: test-front, build-front, deploy-front

feat(Booking): adding get bookings by product id
  backend/be-digital-booking/pom.xml
  backend/be-digital-booking/src/main/java/com/grupo9/db/controller/ProductController.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/dto/Product/GetBookedDatesDto.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/dto/Product/GetProductWithBookingsDto.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/repository/IBookingRepository.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/repository/IProductRepository.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/service/BookingService.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/service/ProductService.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/util/ObjectMapperUtils.java
Due: test-back, build-back, deploy-back

fix(JWT): adding userId
  backend/be-digital-booking/src/main/java/com/grupo9/db/security/jwt/JwtUtils.java
Due: test-back, build-back, deploy-back

refactorización de category, product, user y parte de feature
  backend/be-digital-booking/src/main/java/com/grupo9/db/controller/CategoryController.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/controller/FeatureController.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/controller/ProductController.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/controller/UserController.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/service/CategoryService.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/service/FeatureService.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/service/ProductService.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/service/UserService.java
Due: test-back, build-back, deploy-back

feat: adding AuthGuardian HOC
  frontend/fe-digital-booking/src/hocs/withAuthGuardian.jsx
Due: test-front, build-front, deploy-front

fix(Calendar): fixing disabled dates styles and adding container styles
  frontend/fe-digital-booking/public/assets/styles/home-calendar.css
  frontend/fe-digital-booking/src/components/Calendar/Calendar.module.scss
Due: test-front, build-front, deploy-front

fix(WritableDropdown): adding trigger when has no value
  frontend/fe-digital-booking/src/atoms/WritableDropdown/WritableDropdown.jsx
Due: test-front, build-front, deploy-front

feat(Calendar): adding filter endpoint when calendar is clicked, fixing reset logic
  frontend/fe-digital-booking/src/components/Calendar/Calendar.jsx
  frontend/fe-digital-booking/src/hocs/index.js
  frontend/fe-digital-booking/src/pages/Home/Home.jsx
  frontend/fe-digital-booking/src/pages/Home/components/Searcher/Searcher.jsx
  frontend/fe-digital-booking/src/utils/dates.js
Due: test-front, build-front, deploy-front

feat(Booking): adding functionality and logic to Submit button
  frontend/fe-digital-booking/public/assets/styles/booking-calendar.css
  frontend/fe-digital-booking/src/components/BookingCalendar/BookingCalendar.jsx
  frontend/fe-digital-booking/src/hooks/useFetch/useFetchLazy.js
  frontend/fe-digital-booking/src/pages/Auth/LogIn/LogIn.jsx
  frontend/fe-digital-booking/src/pages/Booking/Booking.jsx
  frontend/fe-digital-booking/src/pages/Booking/components/BookingDetails/BookingDetails.jsx
  frontend/fe-digital-booking/src/pages/Product/ProductContainer.jsx
  frontend/fe-digital-booking/src/pages/Product/lib/time-list.json
Due: test-front, build-front, deploy-front

page Dto para paginacion en Back
  backend/be-digital-booking/src/main/java/com/grupo9/db/dto/Page/PageDto.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/service/BookingService.java
Due: test-back, build-back, deploy-back

fix(Product): fixing broken endpoint when find products without bookings
  backend/be-digital-booking/src/main/java/com/grupo9/db/model/Product.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/service/ProductService.java
Due: test-back, build-back, deploy-back

fix(Home): removing caret styles on dropdown, fixing filter when has no categories
  frontend/fe-digital-booking/src/atoms/Input/Input.jsx
  frontend/fe-digital-booking/src/atoms/Input/Input.module.scss
  frontend/fe-digital-booking/src/components/Calendar/Calendar.jsx
  frontend/fe-digital-booking/src/pages/Home/Home.jsx
Due: test-front, build-front, deploy-front

feat(ResendEmail): adding component
  frontend/fe-digital-booking/src/App.js
  frontend/fe-digital-booking/src/pages/Auth/ResendEmail/ResendEmail.jsx
  frontend/fe-digital-booking/src/pages/Auth/ResendEmail/ResendEmail.module.scss
  frontend/fe-digital-booking/src/pages/Auth/ResendEmail/index.js
  frontend/fe-digital-booking/src/pages/Auth/index.js
Due: test-front, build-front, deploy-front

feat(withAuthGuardian): adding decodedJwt isActive logic
  frontend/fe-digital-booking/src/hocs/withAuthGuardian.jsx
Due: test-front, build-front, deploy-front

feat: adding multiple messages types on location state and redirections when resend email is success
  frontend/fe-digital-booking/src/pages/Auth/ActivateUserInfo/ActivateUserInfo.jsx
  frontend/fe-digital-booking/src/pages/Auth/LogIn/LogIn.jsx
  frontend/fe-digital-booking/src/pages/Auth/UserActivation/UserActivation.jsx
  frontend/fe-digital-booking/src/providers/AuthProvider/AuthProvider.jsx
Due: test-front, build-front, deploy-front

fix(Email): fixing / char bug when resend email
  backend/be-digital-booking/src/main/java/com/grupo9/db/service/AuthService.java
Due: test-back, build-back, deploy-back

feat(Map): adding hover tooltip and adding address prop
  frontend/fe-digital-booking/src/pages/Product/components/Map/Map.jsx
Due: test-front, build-front, deploy-front

feat(SocialMedia): adding component and story
  frontend/fe-digital-booking/.env.local
  frontend/fe-digital-booking/src/atoms/SocialMedia/SocialMedia.jsx
  frontend/fe-digital-booking/src/atoms/SocialMedia/SocialMedia.module.scss
  frontend/fe-digital-booking/src/atoms/SocialMedia/components/Facebook/Facebook.jsx
  frontend/fe-digital-booking/src/atoms/SocialMedia/components/Facebook/index.js
  frontend/fe-digital-booking/src/atoms/SocialMedia/components/Mail/Mail.jsx
  frontend/fe-digital-booking/src/atoms/SocialMedia/components/Mail/index.js
  frontend/fe-digital-booking/src/atoms/SocialMedia/components/SocialIconLayout/SocialIconLayout.jsx
  frontend/fe-digital-booking/src/atoms/SocialMedia/components/SocialIconLayout/SocialIconLayout.module.scss
  frontend/fe-digital-booking/src/atoms/SocialMedia/components/SocialIconLayout/index.js
  frontend/fe-digital-booking/src/atoms/SocialMedia/components/Twitter/Twitter.jsx
  frontend/fe-digital-booking/src/atoms/SocialMedia/components/Twitter/index.js
  frontend/fe-digital-booking/src/atoms/SocialMedia/components/Whatsapp/Whatsapp.jsx
  frontend/fe-digital-booking/src/atoms/SocialMedia/components/Whatsapp/index.js
  frontend/fe-digital-booking/src/atoms/SocialMedia/components/index.js
  frontend/fe-digital-booking/src/atoms/SocialMedia/index.js
  frontend/fe-digital-booking/src/atoms/SocialMedia/utils/getEndpoint.js
  frontend/fe-digital-booking/src/atoms/index.js
  frontend/fe-digital-booking/src/stories/SocialMedia.stories.jsx
Due: test-front, build-front, deploy-front

feat(Booking): protecting booking path not to being accessed through URL
  frontend/fe-digital-booking/src/App.js
  frontend/fe-digital-booking/src/hocs/withAuthGuardian.jsx
Due: test-front, build-front, deploy-front

feat(Booking): adding booking success template
  frontend/fe-digital-booking/src/pages/Booking/Booking.jsx
  frontend/fe-digital-booking/src/pages/Success/Success.jsx
  frontend/fe-digital-booking/src/pages/Success/Success.module.scss
  frontend/fe-digital-booking/src/pages/Success/index.js
Due: test-front, build-front, deploy-front

feat(Modal): adding modal component and social media logic
  frontend/fe-digital-booking/src/atoms/Modal/Modal.jsx
  frontend/fe-digital-booking/src/atoms/Modal/Modal.module.scss
  frontend/fe-digital-booking/src/atoms/Modal/index.js
  frontend/fe-digital-booking/src/atoms/index.js
  frontend/fe-digital-booking/src/pages/Product/Product.jsx
  frontend/fe-digital-booking/src/pages/Product/Product.module.scss
  frontend/fe-digital-booking/src/pages/Product/ProductContainer.jsx
  frontend/fe-digital-booking/src/pages/Product/components/Carousel/Carousel.module.scss
  frontend/fe-digital-booking/src/stories/Modal.stories.jsx
Due: test-front, build-front, deploy-front

fix(SocialMedia): removing modal logic and fixing component to the left
  frontend/fe-digital-booking/src/atoms/SocialMedia/SocialMedia.jsx
  frontend/fe-digital-booking/src/atoms/SocialMedia/SocialMedia.module.scss
  frontend/fe-digital-booking/src/atoms/SocialMedia/components/SocialIconLayout/SocialIconLayout.module.scss
  frontend/fe-digital-booking/src/pages/Product/Product.jsx
  frontend/fe-digital-booking/src/pages/Product/Product.module.scss
Due: test-front, build-front, deploy-front

refactorización services
  backend/be-digital-booking/src/main/java/com/grupo9/db/controller/CategoryController.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/controller/FeatureController.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/controller/ImageController.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/controller/LocationController.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/controller/PolicyController.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/controller/RoleController.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/controller/SubPolicyController.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/service/FeatureService.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/service/ImageService.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/service/LocationService.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/service/PolicyService.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/service/RoleService.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/service/SubPolicyService.java
Due: test-back, build-back, deploy-back

fix: fixing broken tests
  backend/be-digital-booking/src/test/java/com/grupo9/db/service/CategoryServiceTest.java
  backend/be-digital-booking/src/test/java/com/grupo9/db/service/FeatureServiceTest.java
  backend/be-digital-booking/src/test/java/com/grupo9/db/service/LocationServiceTest.java
  backend/be-digital-booking/src/test/java/com/grupo9/db/service/PolicyServiceTest.java
  backend/be-digital-booking/src/test/java/com/grupo9/db/service/SubPolicyServiceTest.java
Due: test-back, build-back, deploy-back

feat(Booking/Product): replaced Json for Fetch API
  frontend/fe-digital-booking/src/atoms/SocialMedia/SocialMedia.module.scss
  frontend/fe-digital-booking/src/components/BookingCalendar/index.js
  frontend/fe-digital-booking/src/pages/Booking/Booking.jsx
  frontend/fe-digital-booking/src/pages/Booking/BookingContainer.jsx
  frontend/fe-digital-booking/src/pages/Product/Product.jsx
  frontend/fe-digital-booking/src/pages/Product/ProductContainer.jsx
Due: test-front, build-front, deploy-front

feat(Booking): adding findAllByProductId endpoint
  backend/be-digital-booking/src/main/java/com/grupo9/db/controller/BookingController.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/service/BookingService.java
Due: test-back, build-back, deploy-back

fix(Booking): fixed styles, renamed Success to SuccessBooking, deleted dead code
  frontend/fe-digital-booking/src/App.js
  frontend/fe-digital-booking/src/pages/Booking/Booking.module.scss
  frontend/fe-digital-booking/src/pages/Booking/components/BookingDetails/BookingDetails.jsx
  frontend/fe-digital-booking/src/pages/Booking/components/BookingDetails/BookingDetails.module.scss
  frontend/fe-digital-booking/src/pages/Product/Product.jsx
  frontend/fe-digital-booking/src/pages/Product/ProductContainer.jsx
  frontend/fe-digital-booking/src/pages/Product/lib/booking.json
  frontend/fe-digital-booking/src/pages/Success/index.js
  frontend/fe-digital-booking/src/pages/SuccessBooking/Success.module.scss
  frontend/fe-digital-booking/src/pages/SuccessBooking/SuccessBooking.jsx
  frontend/fe-digital-booking/src/pages/SuccessBooking/index.js
Due: test-front, build-front, deploy-front

arreglos en el service
  backend/be-digital-booking/src/main/java/com/grupo9/db/controller/BookingController.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/controller/ProductController.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/service/BookingService.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/service/ProductService.java
Due: test-back, build-back, deploy-back

feat(Booking): adding create booking and update user endpoint, adding postman docs
  backend/be-digital-booking/src/main/java/com/grupo9/db/controller/BookingController.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/dto/Bookings/SaveBookingAndUpdateUserDto.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/dto/Product/SaveProductDto.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/model/Product.java
  backend/be-digital-booking/src/main/java/com/grupo9/db/service/BookingService.java
  docs/Digital Booking.postman_collection.json
  docs/Digital Booking.postman_test_run.json
Due: test-back, build-back, deploy-back

feat: fixing Product props and adding address on map
  frontend/fe-digital-booking/src/pages/Product/Product.jsx
  frontend/fe-digital-booking/src/pages/Product/ProductContainer.jsx
  frontend/fe-digital-booking/src/pages/Product/components/Map/Map.jsx
Due: test-front, build-front, deploy-front

fix(Toast): adding padding
  frontend/fe-digital-booking/src/atoms/Toast/Toast.module.scss
Due: test-front, build-front, deploy-front

fix(Toast): adding timeout on login and fixing position
  frontend/fe-digital-booking/src/atoms/Toast/Toast.jsx
  frontend/fe-digital-booking/src/atoms/Toast/Toast.module.scss
  frontend/fe-digital-booking/src/pages/Auth/LogIn/LogIn.jsx
  frontend/fe-digital-booking/src/pages/Auth/LogIn/LogIn.module.scss
  frontend/fe-digital-booking/src/pages/Home/Home.jsx
  frontend/fe-digital-booking/src/pages/Product/Product.jsx
Due: test-front, build-front, deploy-front

fix(Product): fixing booking calendar for products without booked days
  frontend/fe-digital-booking/src/pages/Booking/Booking.jsx
  frontend/fe-digital-booking/src/pages/Product/Product.jsx
Due: test-front, build-front, deploy-front

feat(Jacoco): adding plugin and comment broken tests
  backend/be-digital-booking/pom.xml
  backend/be-digital-booking/src/test/java/com/grupo9/db/service/PolicyServiceTest.java
Due: test-back, build-back, deploy-back

Path conditions:
  test-front: any of: frontend/**/*
  build-front: any of: frontend/**/*
  deploy-front: any of: frontend/**/*
  test-back: any of: backend/**/*
  build-back: any of: backend/**/*
  deploy-back: any of: backend/**/*
